<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Send Mail</title>
</head>
<body>
<div class="back">
    <div class="content">
        <img src="https://sickgyun.s3.ap-northeast-2.amazonaws.com/file1317437e-d407-4cd6-be35-0e45ed8c1b2b"
             class="logo" style="width: 110px;" alt="logo">
        <h2 class="coffeeChat" style="margin-top: 20px; color: black;">
            <span th:text="${fromuser}"></span>님께서<br>
            커피챗 요청을 취소하였습니다.
        </h2>
    </div>
</div>
<a href="https://sickgyun.vercel.app/" style="text-decoration-line: none;">
    <div class="coffeeChatButton" style="
            background-color: #7046f7;
            width: 287px;
            height: 45px;
            border-radius: 8px;
            color: white;
            cursor: pointer;
            font-size: 16px;
            text-align: center;
            line-height: 45px;
    ">
        식견 바로가기
    </div>
</a>
</body>
</html>