<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Send Mail</title>
</head>
<body style="font-family: 'Wanted Sans Variable', 'Wanted Sans', -apple-system, BlinkMacSystemFont, system-ui, 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;">
<div class="back" style="width: 480px; height: 480px;">
    <div>
        <img src="https://sickgyun.s3.ap-northeast-2.amazonaws.com/file1317437e-d407-4cd6-be35-0e45ed8c1b2b"
             style="display: block; width: 141px; height: 48px; margin: 0 auto;" alt="Logo">
        <h2 style="font-size: 24px; font-weight: 700; text-align: center; margin-top: 40px;">
            <span th:text="${touser}"></span>님이 커피챗 요청을 거절했어요.<br>
        </h2>
        <div style="width: 440px; max-height: 180px; min-height: 100px; border-radius: 8px; background-color: #FBFBFC; text-align: left; padding: 20px; margin-bottom: 20px; overflow-y: scroll;">
            <span th:text="${message}"></span> <br>
        </div>
    </div>
    <a href="https://sickgyun.com/email" style="text-decoration-line: none;">
        <div class="coffeeChatButton" style="
            display: block;
            text-align: center;
            margin-top: 20px;
            background-color: #7046f7;
            width: 100%;
            height: 54px;
            border-radius: 8px;
            color: white;
            cursor: pointer;
            font-size: 16px;
            font-weight: 500;
            line-height: 54px;
    ">
            식견에서 확인하기
        </div>
    </a>
</div>
</body>
</html>